<h1>instagram</h1>
<p><%= notice %></p>
<% if logged_in? %>
<p><%= link_to '新しく投稿する', new_website_path %></p>
<% else %>
<h2>Wellcome to instagram</h2>
<h4>ログインしてください</h4>
<% end %>

<% @websites.each do |website| %>
<div class="user_timeline">
  <div class="user_name">
    <%= website.user.name %>
  </div>
  <div class="user_content">
    <%= website.content %>
  </div>
  <div class="user_image">
    <%= image_tag(website.image.url) if website.image && website.image.url %>
  </div>
  <div class="user_option">
    <%= link_to '詳細', website_path(website.id) %>
    <% if current_user?(website.user) %>

    <%= link_to '編集', edit_website_path(website.id) %>
    <%= link_to '削除', website_path(website.id), method: :delete,data: { confirm: '本当に削除していいですか'} %>
  </div>
  <% end %>
  </div>
<% end %>
