<% unless @website.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(website_id: @website.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<div class="user_timeline">
  <div class="user_name">
    <%= @website.user.name %>
  </div>
  <div class="user_image">
    <%= image_tag(@website.image.url) if @website.image && @website.image.url %>
  </div>
  <div class="user_content">
    <%= @website.content %>
  </div>
</div>
<p><%= link_to '一覧に戻る', websites_path %></p>
