<!DOCTYPE html>
<html>
  <head>
    <title>RailsExam3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid > row">
    <header>
    <div class="top_menu clearfix">
    <%#= link_to image_tag('home_icon.png', class: 'home_icon'), websites_path %>
    <%#= image_tag('website_logo', class: 'website_logo') %>
    <% if logged_in? %>
    <%= link_to @current_user.name, user_path(current_user.id) %>
    <%= link_to "Logout", session_path(current_user.id), method: :delete %>
    <%= link_to "favorite", favorite_user_path(current_user.id) %>
    <% end %>
    </div>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <div class="wrapper clerfix">
    <%= yield %>
    </div>
  </div>
  </body>
</html>
